.showcaseWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.showcase {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: calc(var(--max_text) + var(--unit24));
  margin-bottom: 360px;
  padding: 0 var(--unit12);
  position: relative;
  width: 100%;
}
.showcase h3 {
  align-items: flex-end;
  bottom: calc(100% - 60px);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 0;
  max-width: 100%;
  position: absolute;
  right: var(--unit6);
  rotate: 22deg;
  text-align: right;
  transform-origin: bottom right;
  width: 360px;
}
.showcase h3 + p.desc::before {
  clear: right;
  content: "";
  display: block;
  float: right;
  height: 40px;
  shape-outside: polygon(0% 0%, 100% 0%, 100% 100%);
  width: 130px;
}
.showcase p.desc {
  font-weight: bold;
}
.showcase img {
  box-sizing: border-box;
  margin-bottom: 1.5em;
  width: 100%;
}
h3 + img {
  padding-top: 50px;
}
.showcase ul.skills {
  list-style: none;
  margin: 0 0 var(--unit4);
  padding: 0;
}
.showcase ul.skills li {
  color: var(--color3);
  font-weight: bold;
  margin: var(--unit2) var(--unit6) var(--unit2) 0;
  position: relative;
  white-space: nowrap;
}
.showcase a.button {
  align-self: center;
  display: inline-block;
  font-weight: bold;
  margin-bottom: var(--unit1);
  margin-top: 0;
  width: 80%;
}
@media (max-width: 599px) {
  .showcase ul.skills li {
    display: inline-block;
  }
}
@media (min-width: 600px) {
  .showcase {
    margin-bottom: 160px;
    padding-right: 200px;
    margin-top: 0;
  }
  h3 {
    bottom: calc(100% - 114px);
  }
  .showcase ul.skills {
    display: flex;
    flex-direction: column;
    top: 75px;
    left: calc(100% - 170px);
    margin: 0;
    position: absolute;
  }
  .showcase ul.skills li {
    margin-bottom: var(--unit2);
    transform: rotate(22deg);
    transform-origin: left;
  }
  .showcase a.button {
    align-self: center;
    margin-top: var(--unit2);
    position: relative;
    width: 50%;
  }
  .showcase a.button.at-bottom {
    rotate: unset;
  }
}
@media (min-width: 1000px) {
  .showcase {
    padding: 0 var(--unit12);
  }
  .showcase h3 {
    bottom: calc(100% - 106px);
    right: var(--unit-6);
  }
  .showcase ul.skills {
    left: calc(100% - 70px);
  }
}
@media (prefers-color-scheme: dark) {
  .showcase ul.skills li {
    color: var(--color3);
  }
}
