.button,
button {
  background-color: var(--bg4);
  background-image: var(--gradButton);
  border: none;
  border-radius: var(--radius-all);
  color: var(--light);
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: var(--unit2) var(--unit3);

  position: relative;
  text-decoration: none;
  transition: background-color ease 0.5s;
  &:focus,
  &:hover {
    background-color: var(--fg4);
  }
  &:has(.window) .text {
    margin: 0 var(--unit-1) 1em;
  }
  .window {
    background-color: var(--darkish);
    border-radius: var(--radius-all);
    box-shadow: inset 0 0 0.5em var(--dark);
    color: var(--light);
    font-weight: normal;
    margin: 0 var(--unit-1);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 4px 8px;
    text-shadow: 0 0 0.5em var(--lightish);
  }
  &:has(.icon) {
    padding-right: var(--unit8);
  }
  .icon {
    padding: 0;
    position: absolute;
    top: calc(50% - 0.5em);
    right: var(--unit3);
  }
}
.cta {
  .button,
  button {
    background-color: var(--fg0);
    background-image: var(--grad-fg0);
    color: var(--knockout);
    mix-blend-mode: var(--multiscreen);
    &:focus,
    &:hover {
      background-color: var(--fg2);
    }
  }
}
p .button {
  border: none;
  margin-right: 1em;
  &:focus,
  &:hover {
    border: none;
  }
}

.jump-button {
  border: 0.075em solid currentColor;
  border-radius: 100px;
  color: var(--fg2);
  display: block;
  font-size: 400%;
  height: 0;
  margin: auto;
  overflow: hidden;
  padding: 0.8em 0 0 0.8em;
  position: relative;
  width: 0;
  transition: color 0.3s ease;
  &:focus,
  &:hover {
    color: var(--bg4);
  }
  &::before {
    content: "\2193";
    display: block;
    height: 0.6em;
    padding: 0;
    width: 0.6em;

    position: absolute;
    top: 0.2em;
    left: 0.1em;
  }
}
.cta {
  .jump-button {
    color: var(--fg0);
    &:focus,
    &:hover {
      color: var(--fg2);
    }
  }
}
