.details {
  display: block;
  position: fixed;
  bottom: 0;
  left: 16px;
  z-index: 10;
}
:has(.compare) {
  position: fixed;
  inset: 0;
  overflow: auto;
}
.compare {
  background-color: var(--color1);
  background-attachment: fixed;
  background-image: var(--gradBg);
  background-repeat: no-repeat;
  left: var(--gap);
  right: var(--gap);
  position: absolute;
  img {
    border-radius: var(--radius-all);
    display: block;
    max-width: 100%;
    margin: auto;
  }
  .compare__before {
    padding: var(--gap) 0;
    position: absolute;
    left: 0;
    right: calc(50% + (var(--gap) / 2));
    transition: right 0.3s ease;
    &:target {
      z-index: 2;
    }
  }
  .compare__after {
    padding: var(--gap) 0;
    position: absolute;
    left: calc(50% + (var(--gap) / 2));
    right: 0;
    transition: left 0.3s ease;
    &:target {
      z-index: 2;
    }
  }
  &:has(.compare__before:target, .compare__after:target) {
    .compare__before {
      right: 0;
    }
    .compare__after {
      left: 0;
    }
  }
}
