footer {
  overflow: hidden;
  position: relative;
  transform-origin: bottom left;
  width: 100vw;
  // position: relative;
  // z-index: 1;
  .footer__inner {
    padding: 60px 20px 0;
    color: var(--fg2);
    transition: color ease 1s;
    position: relative;
    z-index: 1;
    &::before {
      background-image: var(--grad-bg1);
      content: "";
      display: block;
      opacity: 0.66;
      transition: opacity ease 1s;
      transform: skewY(14.125deg);
      transform-origin: top left;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .copyright {
    font-size: 0.8rem;
  }
  &:hover {
    .footer__inner {
      color: var(--fg0);
    }
    .footer__inner::before {
      opacity: 1;
    }
  }
}
