.contact {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: calc(var(--max_text) + var(--unit16));
  margin: auto;
  overflow: hidden;
  padding: 0 var(--unit8);
  width: 100%;
}
.contact form {
  display: grid;
  gap: var(--unit4);
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4, auto [row-top]); */
}
.contact form > * {
  display: grid;
}
.contact input,
.contact textarea {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.contact button {
  grid-column-start: 2;
}
@media (min-width: 640px) {
  .contact form {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, auto [row-top]);
  }
  .contact input {
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .contact textarea {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
  }
  .contact button {
    grid-column-start: 3;
    grid-column-end: span end;
    grid-row-start: 5;
  }
}
