/*  R E S E T  */
:root {
  overflow-x: hidden;
  width: 100vw;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 1rem;
}

/*  T H E M E  */
::selection {
  color: var(--light);
  background: var(--color3);
  text-shadow: 0 0 10px var(--light);
}
body {
  background: var(--color1);
  color: var(--color6);
  font: 400 15px/1.3em Courier, monospace;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  z-index: -10;
}
body > div {
  background-color: var(--color1);
  background-attachment: fixed;
  background-image: var(--gradBg);
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
}
a {
  text-decoration: none;
}
section.alignable p a[href*="http"]::before {
  content: ".";
  display: block;
  float: right;
  font-weight: normal;
  height: 1em;
  margin-left: 0.25em;
  text-shadow: 0.05em 0 0 currentColor, 0.1em 0 0 currentColor,
    0.15em 0 0 currentColor, 0.2em 0 0 currentColor, 0.25em 0 0 currentColor,
    0.3em 0 0 currentColor, 0.35em 0 0 currentColor, 0.4em 0 0 currentColor,
    0.45em 0 0 currentColor, 0.5em 0 0 currentColor, 0.55em 0 0 currentColor,
    0.6em 0 0 currentColor, 0.65em 0 0 currentColor, 0 -0.05em 0 currentColor,
    0 -0.1em 0 currentColor, 0 -0.15em 0 currentColor, 0 -0.2em 0 currentColor,
    0 -0.25em 0 currentColor, 0 -0.3em 0 currentColor, 0 -0.35em 0 currentColor,
    0 -0.4em 0 currentColor, 0 -0.45em 0 currentColor, 0 -0.5em 0 currentColor,
    0 -0.55em 0 currentColor, 0 -0.6em 0 currentColor, 0 -0.65em 0 currentColor,
    0.05em -0.65em 0 currentColor, 0.1em -0.65em 0 currentColor,
    0.15em -0.65em 0 currentColor, 0.65em -0.05em 0 currentColor,
    0.65em -0.1em 0 currentColor, 0.65em -0.15em 0 currentColor,
    0.65em -0.65em 0 currentColor, 0.6em -0.65em 0 currentColor,
    0.55em -0.65em 0 currentColor, 0.5em -0.65em 0 currentColor,
    0.45em -0.65em 0 currentColor, 0.4em -0.65em 0 currentColor,
    0.65em -0.6em 0 currentColor, 0.65em -0.55em 0 currentColor,
    0.65em -0.5em 0 currentColor, 0.65em -0.45em 0 currentColor,
    0.65em -0.4em 0 currentColor, 0.56em -0.56em 0 currentColor,
    0.53em -0.53em 0 currentColor, 0.5em -0.5em 0 currentColor,
    0.46em -0.46em 0 currentColor, 0.43em -0.43em 0 currentColor,
    0.4em -0.4em 0 currentColor, 0.36em -0.36em 0 currentColor,
    0.33em -0.33em 0 currentColor, 0.3em -0.3em 0 currentColor;
  width: 1em;
}
section.alignable p a {
  border-bottom: 2px solid var(--color5);
  box-sizing: border-box;
  color: currentColor;
  text-decoration: none;
  transition: all ease 0.2s;
}
section.alignable p :is(a:focus, a:hover) {
  border-bottom: 4px solid var(--color6);
}
.hero,
.half1,
.half2,
.cta {
  background-image: var(--gradBg);
}
.tint1 {
  background-color: var(--tint1);
}
.tint2 {
  background-color: var(--tint2);
}
.tint3 {
  background-color: var(--tint3);
}
.hero_b,
.half1_b,
.half2_b,
.cta_b,
.tint1_b,
.tint2_b,
.tint3_b {
  position: relative;
}
.hero_b::before,
.half1_b::before,
.half2_b::before,
.cta_b::before,
.tint1_b::before,
.tint2_b::before,
.tint3_b::before {
  bottom: 0;
  content: "";
  display: block;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.hero,
.hero_b::before {
  background-image: var(--gradBg);
  background-repeat: no-repeat;
}
.tint1_b::before {
  background-color: var(--color1);
  opacity: 0.4;
}
.tint2_b::before {
  background-color: var(--color2);
  opacity: 0.4;
}
.tint3_b::before {
  background-color: var(--color3);
  opacity: 0.4;
}
.cta,
.cta_b::before {
  background-image: var(--gradBg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: var(--color6);
  padding: var(--unit4);
}
.cta h2,
.cta h3,
.cta h4,
.cta_b h2,
.cta_b h3,
.cta_b h4 {
  color: currentColor;
}
.half1,
.half2,
.half1_b::before,
.half2_b::before {
  background-image: var(--gradBg);
  background-repeat: no-repeat;
}
.half1 h2,
.half1_b h2,
.half2 h2,
.half2_b h2 {
  color: var(--heading);
}
.half1 p,
.half1_b p,
.half2 p,
.half2_b p {
  color: var(--text);
  font-weight: bold;
  text-shadow: 0 0 2em var(--glow);
}
section.alignable {
  /* border-radius: var(--radius-all); */
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.alignable {
  display: flex;
  flex-direction: column;
}
.topXS {
  padding-top: var(--unit5);
}
.topS {
  padding-top: var(--unit10);
}
.topM {
  padding-top: var(--unit20);
}
.topL {
  padding-top: var(--unit40);
}
.topXL {
  padding-top: 480px;
}
.bottomXS {
  padding-bottom: var(--unit5);
}
.bottomS {
  padding-bottom: var(--unit10);
}
.bottomM {
  padding-bottom: var(--unit20);
}
.bottomL {
  padding-bottom: var(--unit40);
}
.bottomXL {
  padding-bottom: 480px;
}
.compensateB {
  margin-bottom: var(--compensate-full);
}
.compensateT {
  margin-top: var(--compensate-full);
}
.compensateBHalf {
  margin-bottom: var(--compensate-half);
}
.compensateTHalf {
  margin-top: var(--compensate-half);
}
.skew_b::before {
  content: "";
  display: block;
  transform: skewY(22deg);
  transform-origin: center;
  z-index: -1;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
article,
.article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: calc(var(--max_text) + var(--unit16));
  padding: 0 var(--unit8);
  position: relative;
  width: 100%;
}
.in-the-corner {
  align-items: flex-end;
  text-align: right;
}
.in-the-corner > * {
  max-width: 300px;
}
.full-width {
  max-width: unset;
}
.wide {
  max-width: 1000px;
}
img.transluscent {
  mix-blend-mode: multiply;
}
@media (prefers-color-scheme: dark) {
  img.transluscent {
    mix-blend-mode: screen;
  }
}
/* img.transluscent + h2 {
  margin-top: 0.25em;
} */
h1,
h2,
h3,
h4 {
  color: var(--color5);
  font-family: Rubik, sans-serif;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding-top: 1em;
  text-transform: lowercase;
}
h2 {
  font-size: 3rem;
}
p,
ul {
  letter-spacing: -0.6px;
  line-height: 1.1rem;
  margin-top: 0;
}
h2 + p::before {
  clear: right;
  content: "";
  display: block;
  float: right;
  height: 100px;
  shape-outside: polygon(0% 0%, 100% 0%, 100% 100%);
  width: 250px;
}
section.alignable h2,
h2.tilt {
  transform: rotate(22deg);
  text-align: right;
  transform-origin: top right;
  translate: 0 80px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}
form {
  display: grid;
  gap: var(--unit4);
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4, auto [row-top]); */
}
form > * {
  display: grid;
}
input,
textarea {
  background-color: transparent;
  outline: none;
  border: 2px solid currentColor;
  border-radius: var(--radius-all);
  box-sizing: border-box;
  color: currentColor;
  margin-bottom: 0;
  padding: var(--unit2);
  transition: all ease 0.2s;
}
:is(input, textarea):focus {
  background-color: var(--darkish);
  color: var(--light);
  box-shadow: inset 0 0 1em var(--dark);
  text-shadow: 0 0 0.5em var(--lightish);
}
:is(input, textarea)::placeholder {
  color: currentColor;
  opacity: 0.5;
}
input:autofill {
  background-color: var(--darkish);
}
input:-webkit-autofill {
  background-color: var(--darkish);
}
.hero {
  display: flex;
  flex-direction: column;
  height: 50vh;
  position: relative;
  width: 100vw;
}
.hero img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  mix-blend-mode: overlay;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.hero.imgB img {
  object-position: bottom;
}
.hero.imgL img {
  object-position: left;
}
.hero.imgR img {
  object-position: right;
}
.hero.imgT img {
  object-position: top;
}
.hero h1 {
  align-self: end;
  font-size: calc(6vh + 4vw);
  max-width: calc(38vh + 24vw);
  padding: 0;
  transform: rotate(22deg);
  text-align: right;
  /* text-shadow: 0 0 20em var(--glow), 0 0 40em var(--glow), 0 0 60em var(--glow), 0 0 80em var(--glow); */
  transform-origin: top right;

  position: absolute;
  right: 10px;
  bottom: 0;
}
.hero h1::before {
  background: var(--glow);
  border-radius: 1em;
  content: "";
  display: block;
  filter: blur(0.5em);
  z-index: -1;

  position: absolute;
  top: -10px;
  left: -10px;
  right: 10px;
  bottom: -10px;
}
.self-center {
  align-self: center;
}
.self-left {
  align-self: start;
}
.self-right {
  align-self: end;
}
.content-center {
  text-align: center;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}
.columns-2 {
  display: flex;
  flex-direction: column;
  gap: var(--unit5);
}
.columns-3 {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: var(--unit8);
  padding-right: var(--unit8);
  margin-bottom: var(--compensate-full);
  margin-top: var(--compensate-half);
  text-align: left;
  width: 100%;
}
.columns-3 :is(h2, h3) {
  margin-bottom: 1em;
  padding-top: 0;
  position: static;
  translate: unset;
  text-align: left;
}
.columns-3 .column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--unit4);
  margin-top: var(--unit4);
  position: relative;
}
@media (min-width: 500px) {
  .columns-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--unit4);
    justify-content: space-between;
  }
  .columns-2 > * {
    flex-basis: calc(50% - var(--unit4));
    text-align: left;
  }
}
@media (min-width: 620px) {
  .columns-3 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--unit8);
    margin-top: var(--unit6);
    transform: skewY(22deg);
    max-width: 1200px;
  }
  .columns-3 .column {
    transform: skewY(-22deg);
    width: calc(33.33% - var(--unit6));
  }
}
.pull {
  border-radius: var(--radius-all);
  box-sizing: border-box;
  padding: 0 var(--unit4);
}
.items li,
.items span {
  background-color: var(--tint1);
  border-radius: var(--radius-all);
  color: var(--color6);
  display: inline-block;
  margin: 4px 8px 4px 0;
  padding: 2px 6px;
}
footer {
  height: 62px;
  overflow: hidden;
  padding-top: 62px;
  transform-origin: bottom left;
  width: 300px;
}
footer > div {
  background-color: var(--color2);
  background-image: var(--gradFooter);
  box-sizing: border-box;
  color: var(--color5);
  opacity: 0.66;
  padding: 12px 20px 60px;
  /* max-width: var(--max_text); */
  transition: all ease 0.5s;
  transform: skewY(22deg);
}
footer > div:hover {
  color: var(--color6);
  opacity: 1;
}
/* .sitemap {
    list-style: none;
    margin: 0;
    padding: 0;
  } */
footer .copyright {
  font-size: 0.8rem;
  transform: skewY(-22deg);
}
.blinking {
  animation: blinking 2s ease infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
