/*  R E S E T  */
:root {
  overflow-x: hidden;
  width: 100vw;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
  scrollbar-color: var(--color3) var(--scrolltrack);
  scrollbar-width: thin;
}
p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 1rem;
}

/*  T H E M E  */
::selection {
  color: var(--light);
  background: var(--color3);
  text-shadow: 0 0 10px var(--light);
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-corner,
::-webkit-resizer {
  background-color: var(--scrolltrack);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color3);
}
.u-jump-link {
  scroll-margin-top: 56px;
}
body {
  background: var(--color1);
  color: var(--color6);
  font: 400 16px/1.3em Courier, monospace;
  margin: 0;
  padding: 0;
  position: relative;
  scrollbar-color: var(--color3) var(--color1);
  scrollbar-width: 6px;
  width: 100vw;
  z-index: -10;
}
body > div {
  background-color: var(--color1);
  background-attachment: fixed;
  background-image: var(--gradBg);
  background-repeat: no-repeat;
  position: relative;
  z-index: -10;
}
a {
  text-decoration: none;
}
a:not([class]) {
  color: var(--color5);
  text-underline-offset: 0.25em;
}
a:not([class]):active,
a:not([class]):focus,
a:not([class]):hover {
  color: var(--color3);
}
section.alignable p a[href*="http"]::after {
  border: 0.14em solid currentColor;
  border-radius: 0.3em;
  content: "\2197";
  font-family: monospace;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: 0.25em;
  margin-left: 0.3em;
  padding-left: 0.18em;
  text-decoration: none;
  vertical-align: middle;
}
code {
  background-color: var(--color2);
  font-size: 0.9em;
  padding: 0.25em;
  white-space: pre-wrap;
}
.text a,
th a,
td a {
  border-bottom: 2px solid var(--color5);
  box-sizing: border-box;
  color: currentColor;
  text-decoration: none;
  transition: all ease 0.2s;
}
.text :is(a:focus, a:hover):not(.button),
th :is(a:focus, a:hover),
td :is(a:focus, a:hover) {
  border-bottom: 4px solid var(--color6);
}
.z10 {
  z-index: 10;
}
.tint1 {
  background-color: var(--tint1);
}
.tint2 {
  background-color: var(--tint2);
}
.tint3 {
  background-color: var(--tint3);
}
.half1,
.half2,
.cta_b,
.tint1_b,
.tint2_b,
.tint3_b {
  position: relative;
}
.half1::before,
.half2::before,
.cta_b::before,
.tint1_b::before,
.tint2_b::before,
.tint3_b::before {
  bottom: 0;
  content: "";
  display: block;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.tint1_b::before {
  background-color: var(--color1);
  opacity: 0.4;
}
.tint2_b::before {
  background-color: var(--color2);
  opacity: 0.4;
}
.tint3_b::before {
  background-color: var(--color3);
  opacity: 0.4;
}
.cta,
.cta_b::before {
  background-image: var(--gradBgCTA);
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: var(--color6);
  padding: var(--unit4);
}
.cta h2,
.cta h3,
.cta h4,
.cta_b h2,
.cta_b h3,
.cta_b h4 {
  color: currentColor;
}
.half1::before {
  background-image: var(--gradBgHalf1);
  background-repeat: no-repeat;
}
.half2::before {
  background-image: var(--gradBgHalf2);
  background-repeat: no-repeat;
}
.half1 h2 {
  color: var(--headingHalf1);
}
.half2 h2 {
  color: var(--headingHalf2);
}
.half1 p {
  color: var(--textHalf1);
  font-weight: bold;
  text-shadow: 0 0 2em var(--glowHalf1);
}
.half2 p {
  color: var(--textHalf2);
  font-weight: bold;
  text-shadow: 0 0 2em var(--glowHalf2);
}
section.alignable {
  /* border-radius: var(--radius-all); */
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.alignable {
  display: flex;
  flex-direction: column;
}
.topXS {
  padding-top: var(--unit5);
}
.topS {
  padding-top: var(--unit10);
}
.topM {
  padding-top: var(--unit20);
}
.topL {
  padding-top: var(--unit40);
}
.topXL {
  padding-top: 480px;
}
.bottomXS {
  padding-bottom: var(--unit5);
}
.bottomS {
  padding-bottom: var(--unit10);
}
.bottomM {
  padding-bottom: var(--unit20);
}
.bottomL {
  padding-bottom: var(--unit40);
}
.bottomXL {
  padding-bottom: 480px;
}
.compensateB {
  margin-bottom: var(--compensate-full);
}
.compensateT {
  margin-top: var(--compensate-full);
}
.compensateBHalf {
  margin-bottom: var(--compensate-half);
}
.compensateTHalf {
  margin-top: var(--compensate-half);
}
.skew_b::before {
  content: "";
  display: block;
  transform: skewY(14.125deg);
  transform-origin: center;
  z-index: -1;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
article,
.article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: calc(var(--max_text) + var(--unit16));
  padding: 0 var(--unit8);
  position: relative;
  overflow: hidden;
  width: 100%;
}
.date {
  color: var(--color3);
}
.in-the-corner {
  align-items: flex-end;
  text-align: right;
}
.in-the-corner > * {
  max-width: 300px;
}
.full-width {
  max-width: unset;
}
.wide {
  max-width: 1000px;
}
.expand {
  margin-left: var(--unit-8);
  margin-right: var(--unit-8);
}
.transluscent {
  mix-blend-mode: var(--multiscreen);
}
.overlay {
  mix-blend-mode: overlay;
}
h1,
h2,
h3,
h4 {
  color: var(--color5);
  font-family: Rubik, sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1em;
  margin: 0;
  padding-top: 1em;
  text-transform: lowercase;
}
h1 {
  padding-top: 0;
}
h2 {
  font-size: 3rem;
}
p,
ul {
  /* letter-spacing: -0.6px; */
  /* line-height: 1.1rem; */
  margin-top: 0;
}
h2 + p::before {
  clear: right;
  content: "";
  display: block;
  float: right;
  height: 64px;
  shape-outside: polygon(16% 0%, 100% 0%, 100% 74%, 90% 74%);
  width: 250px;
}
h2.tilt,
h2:has(+ p) {
  font-style: oblique;
  transform: skew(0, 14.125deg);
  text-align: right;
  transform-origin: top right;
}
h2:has(+ p) {
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 0.5em;
  translate: 0 80px;
  /* margin-right: -36px; */
  max-width: 100%;
  width: 420px;
}
section.alignable h2.standalone {
  translate: 0;
}
section.alignable .compare h2 {
  margin-bottom: 1em;
  text-align: left;
  transform: rotate(0deg);
  transform-origin: top right;
  translate: 0;
}
@media (max-width: 480px) {
  section.alignable .compare h2 {
    margin-right: -100vw;
    translate: 0 -3.6rem;
  }
}
section.alignable .compare h2 + p::before {
  content: none;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}
sup {
  top: -0.3em;
  font-size: 66%;
  position: relative;
  vertical-align: baseline;
}
.small-text {
  font-size: 0.8rem;
  line-height: 1.2em;
}
form {
  display: grid;
  gap: var(--unit4);
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4, auto [row-top]); */
}
form > * {
  display: grid;
}
input,
textarea {
  background-color: transparent;
  outline: none;
  border: 2px solid currentColor;
  border-radius: var(--radius-all);
  box-sizing: border-box;
  color: currentColor;
  margin-bottom: 0;
  padding: var(--unit2);
  transition: all ease 0.2s;
}
:is(input, textarea):focus {
  background-color: var(--darkish);
  color: var(--light);
  box-shadow: inset 0 0 1em var(--dark);
  text-shadow: 0 0 0.5em var(--lightish);
}
:is(input, textarea)::placeholder {
  color: currentColor;
  opacity: 0.5;
}
input:autofill {
  background-color: var(--darkish);
}
input:-webkit-autofill {
  background-color: var(--darkish);
}
.self-center {
  align-self: center;
}
.self-left {
  align-self: start;
}
.self-right {
  align-self: end;
}
.content-center {
  text-align: center;
}
.content-left {
  text-align: left;
}
.content-right {
  text-align: right;
}
table.compare {
  border: 0;
  border-collapse: collapse;
  /* border-spacing: 0; */
  max-width: calc(var(--max_text) + var(--unit16));
  padding: 0 var(--unit8);
  position: relative;
  width: 100%;
}
@media (max-width: 480px) {
  table.compare {
    margin-top: 3.6rem;
  }
}
tr.checkmarks td {
  color: var(--color3);
  font-size: 1.5em;
  font-weight: 400;
  padding: 0 2px;
  position: relative;
}
th {
  font-weight: 400;
  padding: var(--unit1) var(--unit1) var(--unit1) 0;
  text-align: left;
  vertical-align: top;
}
th[scope="col"] {
  vertical-align: bottom;
}
th h4 {
  margin: 0;
  padding: 0;
}
th.compact {
  height: 100px;
  line-height: 1em;
}
td {
  vertical-align: top;
}
td p.small-text {
  margin: var(--unit2) var(--unit1) 0;
}
td .price,
td .price-plus {
  width: min-content;
}
table.compare .indicator-corner,
table.compare .indicator-line {
  position: relative;
}
table.compare .indicator-corner::before,
table.compare .indicator-line::before {
  content: "";

  position: absolute;
  top: 0;
  left: -2px;
}
table.compare .indicator-gradient {
  position: relative;
}
table.compare .indicator-gradient::before {
  background-image: linear-gradient(
    90deg,
    var(--color5),
    var(--color4),
    var(--color3)
  );
  content: "";
  display: block;
  height: 1px;

  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}
table.compare .indicator-corner::before {
  border-right: 1px solid var(--color3);
  border-bottom: 1px solid var(--color3);
  border-radius: 0 0 var(--unit1) 0;

  right: 50%;
  bottom: 50%;
}
table.compare .indicator-line::before {
  border-bottom: 1px solid var(--color3);

  right: 0;
  bottom: 0;
}
table.compare .indicator-corner ~ .indicator-line::before {
  border-right: 1px solid var(--color3);
  border-bottom: 0;

  right: 50%;
  bottom: 0;
}
table.compare .compare-cta {
  display: flex;
  justify-content: space-between;
  padding: var(--unit2) 0;
  width: 100%;
}
table.compare .compare-cta > :nth-child(1) {
  padding-right: var(--unit2);
}
table.compare .compare-cta > :nth-last-child(1) {
  flex-grow: 1;
}
table.compare .compare-cta h4 {
  margin: 0 0 0.25em;
  padding-top: 0;
}
@media (min-width: 481px) and (max-width: 700px) {
  tr.checkmarks td {
    text-align: center;
  }
  th.compact {
    line-height: 0.7em;
    white-space: nowrap;
    width: 3.4em;
  }
  th.compact .subtle {
    font-size: 0.8em;
  }
  th.compact > div {
    margin-bottom: var(--unit2);
    transform: rotate(-68deg);
    width: 50px;
  }
  td .price {
    margin-top: 2em;
    margin-bottom: 0;
    transform: rotate(-68deg);
    width: 0;
  }
  table.compare .indicator-corner::before {
    right: 75%;
  }
  table.compare .indicator-corner ~ .indicator-line::before {
    right: 75%;
  }
}
@media (max-width: 480px) {
  th.compact {
    /* padding-top: var(--unit8); */
    white-space: nowrap;
  }
  th.compact .subtle {
    display: none;
  }
  th h4 {
    display: inline;
  }
  th.compact > div {
    transform: rotate(-90deg);
    width: 0;
  }
  td .price {
    margin-bottom: 0;
    margin-top: 3em;
    transform: rotate(-90deg);
    width: 0;
  }
  tr.checkmarks td .price-plus {
    width: auto;

    position: absolute;
    right: 0;
  }
}
@media (min-width: 701px) {
  th.compact h4 {
    width: 100px;
  }
  table.compare .indicator-corner::before {
    right: 90%;
  }
  table.compare .indicator-corner ~ .indicator-line::before {
    right: 90%;
  }
}
.columns-2 {
  display: flex;
  flex-direction: column;
  gap: var(--unit5);
}
.columns-3 {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: var(--unit8);
  padding-right: var(--unit8);
  margin-bottom: var(--compensate-full);
  margin-top: var(--compensate-half);
  text-align: left;
  width: 100%;
}
.columns-3 :is(h2, h3) {
  margin-bottom: 0.5em;
  padding-top: 0;
  position: static;
  translate: unset;
  text-align: left;
}
.columns-3 .column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--unit4);
  margin-top: var(--unit4);
  position: relative;
}
@media (min-width: 500px) {
  .columns-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--unit4);
    justify-content: space-between;
  }
  .columns-2 > * {
    flex-basis: calc(50% - var(--unit4));
    text-align: left;
  }
}
@media (min-width: 620px) {
  .columns-3 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--unit8);
    margin-top: var(--unit6);
    transform: skewY(14.125deg);
    max-width: 1200px;
  }
  .columns-3 .column {
    transform: skewY(-14.125deg);
    width: calc(33.33% - var(--unit6));
  }
}
.pull {
  border-radius: var(--radius-all);
  box-sizing: border-box;
  padding: 0 var(--unit4);
}
.items li,
.items span {
  background-color: var(--tint1);
  border-radius: var(--radius-all);
  color: var(--color6);
  display: inline-block;
  margin: 4px 8px 4px 0;
  padding: 2px 6px;
}
.blinking {
  animation: blinking 2s ease infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}
