@keyframes blurIn {
  0% {
    filter: blur(2vw);
    opacity: 0.05;
  }
  25% {
    filter: blur(2vw);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes fadeInSubtle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
.hero {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 50vh;
  position: relative;
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      height: 100%;
      /* mix-blend-mode: overlay; */
      object-fit: cover;
      object-position: center;
      transition: all 1.5s ease;
      width: 100%;
    }
  }
  h1 {
    font-size: calc(6vh + 4vw);
    font-style: oblique;
    padding-right: var(--unit4);
    margin-top: 24vw;
    text-align: right;
    transform: skewY(14.125deg);
    transform-origin: bottom right;
    width: min-content;
  }
  &.page {
    background-image: var(--gradBgHero);
    background-repeat: no-repeat;
    & .hero__bg {
      mix-blend-mode: overlay;
      img {
        animation: blurIn 2s cubic-bezier(0, 0, 0, 1);
        filter: blur(0);
        transition: all 1.5s ease;
      }
    }
    h1::before {
      background: var(--glow);
      border-radius: 1em;
      content: "";
      display: block;
      filter: blur(0.5em);
      z-index: -1;

      position: absolute;
      top: -10px;
      left: -10px;
      right: 10px;
      bottom: -10px;
    }
  }
  &.post {
    /* background-image: var(--gradBgHero);
    background-repeat: no-repeat; */
    /* background-color: var(--tint4); */
    & .hero__bg {
      mix-blend-mode: var(--multiscreen);
      transition: filter 1.5s ease;
      img {
        animation: fadeInSubtle 1.5s ease;
        opacity: 0.25;
        filter: blur(1vw) saturate(2);
      }
    }
    & h1 {
      font-size: calc(3vh + 4vw);
      transition: opacity 1.5s ease, filter 1.5s ease;
    }
    &:hover {
      & img {
        opacity: 1;
        filter: blur(0) saturate(1);
      }
      & h1 {
        opacity: 0.5;
        filter: blur(0.125em);
      }
    }
  }
}
