body:has(.heroClip) {
  overflow: hidden;
  .splitWrap {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
}
.heroClip {
  margin-bottom: 0;
  @media (orientation: portrait) {
    & {
      margin-bottom: -20px;
      max-width: 100vw;
      overflow: hidden;
    }
  }
}
.heroHome {
  --hero-height: 106vh;

  position: relative;
  top: 2vh;
  left: 10px;
  float: left;
  rotate: 14.125deg;
  z-index: 0;
  margin-right: -3vw;
  margin-bottom: -6vh;
  width: 50vh;
  height: var(--hero-height);
  @media (orientation: portrait) {
    & {
      float: none;
    }
  }
  h1 {
    display: inline-block;
    position: absolute;
    color: var(--color5);
    font: 400 14vh/1.2em Rubik, sans-serif;
    text-transform: lowercase;
    b:nth-child(1) {
      position: relative;
      top: -0.6vh;
      left: -1.2vh;
      &::before {
        display: inline-block;
        content: ": ";
        font: inherit;
        letter-spacing: 0.2vh;
      }
    }
    b:nth-child(2) {
      position: absolute;
      top: 61vh;
      left: 3.2vh;
    }
  }
  .jBig {
    position: absolute;
    margin: 0;
    padding: 0;
    height: var(--hero-height);

    .jBig-1,
    .jBig-2 {
      position: absolute;
      left: 3.8vh;
      margin: 0;
      font-weight: 400;
      font-size: 1.28vh;
      line-height: 1.1em;
      font-family: Courier, monospace;
      letter-spacing: -0.08em;
    }
    .jBig-1 {
      background: -webkit-linear-gradient(
        var(--color6),
        var(--color5),
        var(--color4),
        var(--color3)
      );
      -webkit-background-clip: text;
      top: 5vh;
      -webkit-text-fill-color: transparent;
    }
    .jBig-2 {
      background: -webkit-linear-gradient(var(--color2), transparent);
      -webkit-background-clip: text;
      top: 75vh;
      -webkit-text-fill-color: transparent;
    }
  }
}
.subhero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  @media (orientation: portrait) {
    & {
      margin-bottom: var(--unit16);
      min-height: unset;
    }
  }
}

@supports (animation-timeline: scroll()) {
  // body {
  //   scroll-timeline-name: --parallax1;
  // }
  .parallaxHome {
    animation-name: parallax-y1;
    animation-timeline: scroll(root);
    animation-duration: 1ms; /* Firefox requires this */
    animation-timing-function: linear;
  }
}

@keyframes parallax-y1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(600px);
  }
}
