@keyframes fadeIn {
  0% {
    filter: blur(2vw);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  height: 50vh;
  position: relative;
  width: 100vw;
}
.hero img {
  animation: fadeIn 1.5s cubic-bezier(0, 0, 0, 1);
  filter: blur(0);
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  mix-blend-mode: overlay;
  opacity: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.hero.imgB img {
  object-position: bottom;
}
.hero.imgL img {
  object-position: left;
}
.hero.imgR img {
  object-position: right;
}
.hero.imgT img {
  object-position: top;
}
.hero h1 {
  align-self: end;
  font-size: calc(6vh + 4vw);
  max-width: calc(38vh + 24vw);
  padding: 0;
  transform: rotate(22deg);
  text-align: right;
  transform-origin: top right;

  position: absolute;
  right: 10px;
  bottom: 0;
}
.hero.post h1 {
  font-size: calc(5vh + 3vw);
  max-width: calc(36vh + 22vw);
}
.hero h1::before {
  background: var(--glow);
  border-radius: 1em;
  content: "";
  display: block;
  filter: blur(0.5em);
  z-index: -1;

  position: absolute;
  top: -10px;
  left: -10px;
  right: 10px;
  bottom: -10px;
}
