main:has(.nav) section:first-of-type {
  margin-top: 160px;
  @media (max-width: 999px) {
    margin-top: calc(352px + -20vw);
  }
  @media (max-width: 700px) {
    margin-top: 212px;
  }
}
main:has(.nav) section h1 {
  margin-top: 60px;
  @media (max-width: 999px) {
    margin-top: calc(290px - 22vw);
  }
  @media (max-width: 700px) {
    margin-top: 20vw;
  }
}
.nav {
  position: sticky;
  top: 0;
  left: 18px;
  z-index: 999;
  width: 150px;
  height: 0;
}
.nav::before {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  backdrop-filter: blur(3px);
  mask-image: linear-gradient(135deg, black, transparent, transparent);
  background: var(--tint1);
  width: 600px;
  max-width: 100vw;
  height: 600px;
  max-height: 100vw;
  pointer-events: none;
  content: "";
}
.nav::after {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
  backdrop-filter: blur(9px);
  mask-image: linear-gradient(135deg, black, transparent, transparent);
  background: var(--tint1);
  width: 600px;
  max-width: 100vw;
  height: 600px;
  max-height: 100vw;
  pointer-events: none;
  content: "";
}
.nav .group {
  transform: rotate(14.125deg);
  transform-origin: top left;
  width: 170px;
  height: 90px;
}
.nav ul {
  display: block;

  position: absolute;
  top: 0;
  left: 68px;
  transform-origin: top left;
  margin: 0;
  padding: 0;
}
.nav ul li {
  display: flex;
  height: 24px;
  letter-spacing: -0.03em;
}
.nav a {
  display: block;
  position: relative;
  transition: color 0.5s ease;
  color: var(--color3);
  font-weight: 700;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  text-transform: lowercase;
}
.nav a.logo {
  display: block;

  position: absolute;
  top: 31px;
  left: 10px;
  z-index: 1;
  content: ":j";
  font-size: 90px;
  letter-spacing: 0.3rem;
}
.nav .toggle {
  display: none;
}
@media (max-width: 600px) {
  .nav .group {
    transform: rotate(14.125deg);
  }
  .nav .toggle {
    display: block;
  }
  .nav.active::before {
    width: 580px;
  }
  .nav.active .open {
    opacity: 0;
    z-index: 0;
  }
  .nav.inactive ul {
    opacity: 0;
  }
  .nav.active ul {
    opacity: 1;
  }
}
@media (hover: hover) {
  .nav a {
    color: var(--color3);
  }
  .nav a:not(.current):is(:active, :focus, :hover) {
    color: var(--accent);
  }
}
.nav-indicator {
  display: flex;
  position: relative;
  justify-content: center;
  transform: translateY(-50%);
  box-sizing: border-box;
  margin: 72px 0 -72px;
  padding-top: var(--unit6);
  padding-left: 140px;
  width: 100%;
  max-width: 460px;
  color: var(--color3);
  white-space: pre-wrap;
}
.nav-indicator pre {
  font-size: 15px;
  line-height: 19.5px;
  /* position: absolute;
  top: 0; */
}
@media (max-width: 400px) {
  .nav-indicator pre {
    font-weight: bold;
    font-size: 3.75vw;
    line-height: 4.875vw;
    /* text-transform: uppercase; */
  }
}
