.nav {
  left: 18px;
  height: 0;
  position: sticky;
  top: -18px;
  z-index: 999;
  width: 150px;
}
.nav::before {
  box-sizing: border-box;
  color: transparent;
  content: "\25b6";
  font-size: 540px;
  height: 0;
  overflow: hidden;
  padding: 200px 0 240px;
  pointer-events: none;
  text-shadow: 0 0 140px var(--color1);
  transform: scale(1, 1.5);
  transform-origin: top left;
  transition: all 1s cubic-bezier(0, 0, 0.15, 1);
  width: calc(100vw + 100px);
  z-index: -1;

  position: absolute;
  left: -120px;
  top: -290px;
}
.nav .group {
  height: 90px;
  transform: rotate(22deg);
  transform-origin: top left;
  width: 170px;
}
.nav ul {
  display: block;
  margin: 0;
  padding: 0;
  transform-origin: top left;

  position: absolute;
  top: 0;
  left: 68px;
}
.nav ul li {
  display: flex;
  height: 24px;
}
.nav a {
  color: var(--color3);
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.5s ease;
}
.nav a.logo {
  content: ":j";
  display: block;
  font-size: 90px;
  letter-spacing: 0.3rem;
  z-index: 1;

  position: absolute;
  left: 10px;
  top: 31px;
}
.nav .toggle {
  display: none;
}
@media (max-width: 600px) {
  .nav .group {
    transform: rotate(22deg);
  }
  .nav .toggle {
    display: block;
  }
  .nav.active::before {
    width: 580px;
  }
  .nav.active .open {
    opacity: 0;
    z-index: 0;
  }
  .nav.inactive ul {
    opacity: 0;
  }
  .nav.active ul {
    opacity: 1;
  }
}
@media (hover: hover) {
  .nav a {
    color: var(--color3);
  }
  .nav a:not(.current):is(:active, :focus, :hover) {
    color: var(--accent);
  }
}
.nav-indicator {
  box-sizing: border-box;
  color: var(--color3);
  display: flex;
  justify-content: center;
  max-width: 460px;
  padding-left: 140px;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
}
.nav-indicator pre {
  font-size: 15px;
  line-height: 19.5px;
  /* position: absolute;
  top: 0; */
}
@media (max-width: 400px) {
  .nav-indicator pre {
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 4.875vw;
    /* text-transform: uppercase; */
  }
}
