.reel.f26 {
  overflow: hidden;
}
.reel img {
  animation: vsprite 1.4s steps(25) infinite;
  height: 100%;
  overflow: hidden;
  object-position: center 0%;
  object-fit: none;
  width: 100%;
}
@keyframes vsprite {
  100% {
    object-position: center 100%;
  }
}
