.color-scheme {
  border: 0;
  box-sizing: content-box;
  /* display: inline-block; */
  font-size: 1.5em;
  margin: 0 0 calc(-1.5em - 18px) auto;
  padding: 18px var(--unit2) 0;
  position: sticky;
  right: 0;
  top: 0;
  text-align: right;
  width: 4.5em;
  z-index: 999;
  input {
    opacity: 0;
  }
  label {
    color: var(--bg4);
    cursor: pointer;
    display: inline-block;
    height: 1em;
    opacity: 0.6;
    padding: 0.25em;
    position: relative;
    transition: opacity ease 0.3s;
    width: 1em;
  }
  label:focus,
  label:hover {
    opacity: 1;
  }
  label::before,
  input {
    cursor: pointer;
  }
}
.light-scheme-icon::before {
  background-color: currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1em;
  width: 1em;

  position: absolute;
  top: 0.25em;
}
.auto-scheme-icon::before {
  background-color: currentColor;
  border-radius: 0 100% 100% 0 / 50%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1em;
  margin-left: 0.5em;
  width: 0.5em;

  position: absolute;
  top: 0.25em;
}
.auto-scheme-icon::after {
  background-color: currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1em;
  margin-left: 0.375em;
  width: 0.25em;

  position: absolute;
  top: 0.25em;
}
.dark-scheme-icon::before {
  border-radius: 50%;
  /*   box-shadow: 3px 0 0 0 var(--color-6); */
  border-color: currentColor;
  border-style: solid;
  border-width: 0 0.33em 0 0;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  /*   translate: -3px 0; */

  position: absolute;
  top: 0.25em;
}
