.showcase,
.collection {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--unit16);
  margin-top: var(--unit16);
  max-width: 1200px;
  padding: 0 var(--unit8);
  position: relative;
  width: 100%;
}
:is(.showcase, .collection) h3 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 0;
  max-width: 100%;
  rotate: 22deg;
  text-align: right;
  transform-origin: bottom right;
  width: 360px;

  position: absolute;
  bottom: calc(100% - 40px);
  right: var(--unit6);
}
:is(.showcase, .collection) h3 + p.desc::before {
  clear: right;
  content: "";
  display: block;
  float: right;
  height: 40px;
  shape-outside: polygon(0% 0%, 100% 0%, 100% 100%);
  width: 130px;
}
:is(.showcase, .collection) p.desc {
  font-weight: bold;
}
:is(.showcase, .collection) img {
  box-sizing: border-box;
  display: block;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;
}
.showcase img {
  border-radius: var(--radius-all);
  margin-bottom: 1em;
}
/* h3 + img {
  padding-top: 50px;
} */
/* h4 {
  padding-top: 0;
} */
:is(.showcase, .collection) ul.skills {
  list-style: none;
  margin: 0 0 var(--unit4);
  padding: 0;
}
:is(.showcase, .collection) ul.skills li {
  color: var(--color3);
  font-weight: bold;
  white-space: nowrap;
}
:is(.showcase, .collection) a.button {
  align-self: center;
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}
.collection a.button {
  display: block;
}
/* @media (max-width: 599px) { */
:is(.showcase, .collection) ul.skills li {
  display: inline-block;
}
.collection .card {
  background-color: var(--color1);
  border-radius: var(--radius-all);
  margin-bottom: var(--unit8);
  /* padding: var(--unit2) 0; */
}
/* .collection .card img + .button {
  border-radius: var(--radius-bottom);
} */
.collection .card > *:first-child {
  border-radius: var(--radius-top);
}
.collection .card > *:last-child {
  border-radius: var(--radius-bottom);
}
/* } */
@media (min-width: 600px) {
  .showcase,
  .collection {
    display: grid;
    gap: 0 var(--unit8);
    grid-template-columns: [sticky] 1fr [scroll] 1fr;
    grid-template-rows: [top] auto;
  }
  :is(.showcase, .collection) > * {
    grid-column: scroll;
  }
  .showcase img {
    grid-column: sticky;
    grid-row: top / span 4;
    margin-bottom: 0;
    min-width: 0;
    position: sticky;
    top: calc(50% - ((100vw - 144px) / 2 * 0.625 / 2));
  }
  .collection .cards {
    grid-column: sticky;
    grid-row: top / span 4;
    min-width: 0;
  }
  .collection .card {
    position: sticky;
    top: 124px;
  }
  .collection .about {
    position: sticky;
    top: 120px;
  }
  .card .button {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .showcase img {
    top: calc(50% - ((100vw - 192px) / 2 * 0.625 / 2));
  }
}
@media (min-width: 1200px) {
  .showcase,
  .collection {
    grid-template-columns: [sticky] 500px [scroll] auto;
  }
}
@media (max-width: 1000px) and (max-height: 480px) {
  /* .card picture {
    display: block;
    height: calc(((100vw - 144px) / 2 * 0.625) + (100vh - 420px));
    overflow: hidden;
  } */
  .collection .card {
    position: static;
  }
}
/* @media (min-width: 600px) {
  .showcase {
    margin-bottom: 160px;
    padding-right: 200px;
    margin-top: 0;
  }
  h3 {
    bottom: calc(100% - 114px);
  }
  ul.skills {
    display: flex;
    flex-direction: column;
    top: 75px;
    margin: 0;

    position: absolute;
    left: calc(100% - 170px);
  }
  ul.skills li {
    margin-bottom: var(--unit2);
    transform: rotate(22deg);
    transform-origin: left;
  }
  a.button {
    align-self: center;
    margin-top: var(--unit2);
    position: relative;
    width: 50%;
  }
  a.button .text {
    display: block;
  }
}
@media (min-width: 1000px) {
  .showcase {
    padding: 0 var(--unit12);
  }
  .showcase h3 {
    bottom: calc(100% - 106px);
    right: var(--unit-6);
  }
  .showcase ul.skills {
    left: calc(100% - 70px);
  }
} */
