.splitWrap {
  overflow: hidden;
  margin: -20vw 0;
  padding: 20vw 0;
  width: 100vw;
}
.split {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  position: relative;
  transform: rotate(14.125deg);
  width: 100vw;
}
.half {
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.half p {
  font-size: clamp(16px, calc(1.5vh + 1.2vw), 24px);
}
.half .cell {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  color: currentColor;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
}
.half:nth-child(1) {
  justify-content: flex-end;
}
.half:nth-child(2) {
  justify-content: flex-start;
}
.half:nth-child(1)::before {
  left: -60vh;
}
.half:nth-child(2)::before {
  right: -60vh;
}
.half:nth-child(1) .cell .content {
  padding-left: var(--unit12);
}
.half:nth-child(2) .cell .content {
  padding-right: var(--unit12);
}
.half:nth-child(1) .cell {
  display: grid;
  grid-template-columns: [content] auto [title] calc(5vh + 4vw);
  grid-template-rows: [space] 100vh;
}
.half:nth-child(2) .cell {
  display: grid;
  grid-template-columns: [title] calc(5vh + 4vw) [content] auto;
  grid-template-rows: [space] 100vh;
}
.half img {
  mix-blend-mode: overlay;
  object-fit: contain;
  opacity: 0.5;
  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
}
.half:nth-child(1) img {
  right: 0;
}
.half:nth-child(2) img {
  left: 0;
}
@media (orientation: portrait) {
  .half:nth-child(1) img {
    left: -50%;
    width: 150%;
  }
  .half:nth-child(2) img {
    right: -50%;
    width: 150%;
  }
}
.half .cell .title {
  grid-column: title;
  grid-row: space;
  margin: 0;
  padding: 0;
}
.half .cell .content {
  box-sizing: border-box;
  grid-column: content;
  grid-row: space;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.half:nth-child(1) .cell .content {
  text-align: right;
}
.half h2 {
  font-size: calc(5vh + 4vw);
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  text-align: center;
}
.half p {
  line-height: 1.2em;
}
.half:nth-child(2) p::before {
  clear: right;
  content: "";
  display: block;
  float: right;
  height: 7.2em;
  shape-outside: polygon(63.88% 0%, 100% 0%, 100% 100%);
  width: 7.2em;
}
