:root {
  --max_text: 600px;
  --scale: 0.5;
  --unit-75: -570px;
  --unit-60: -480px;
  --unit-40: -240px;
  --unit-30: -180px;
  --unit-24: -144px;
  --unit-20: -120px;
  --unit-16: -96px;
  --unit-15: -90px;
  --unit-14: -84px;
  --unit-13: -78px;
  --unit-12: -72px;
  --unit-11: -66px;
  --unit-10: -60px;
  --unit-9: -54px;
  --unit-8: -48px;
  --unit-7: -42px;
  --unit-6: -36px;
  --unit-5: -30px;
  --unit-4: -24px;
  --unit-3: -18px;
  --unit-2: -12px;
  --unit-1: -6px;
  --unit1: 6px;
  --unit2: 12px;
  --unit3: 18px;
  --unit4: 24px;
  --unit5: 30px;
  --unit6: 36px;
  --unit7: 42px;
  --unit8: 48px;
  --unit9: 54px;
  --unit10: 60px;
  --unit11: 66px;
  --unit12: 72px;
  --unit13: 78px;
  --unit14: 84px;
  --unit15: 90px;
  --unit16: 96px;
  --unit20: 120px;
  --unit24: 144px;
  --unit30: 180px;
  --unit40: 240px;
  --unit60: 480px;
  --unit75: 570px;
  --unit120: 720px;
}
@media (min-width: 1000px) {
  :root {
    --unit-75: -600px;
    --unit-60: -480px;
    --unit-40: -320px;
    --unit-30: -240px;
    --unit-24: -192px;
    --unit-20: -160px;
    --unit-16: -128px;
    --unit-15: -120px;
    --unit-14: -112px;
    --unit-13: -104px;
    --unit-12: -96px;
    --unit-11: -88px;
    --unit-10: -80px;
    --unit-9: -72px;
    --unit-8: -64px;
    --unit-7: -56px;
    --unit-6: -48px;
    --unit-5: -40px;
    --unit-4: -32px;
    --unit-3: -24px;
    --unit-2: -16px;
    --unit-1: -8px;
    --unit1: 8px;
    --unit2: 16px;
    --unit3: 24px;
    --unit4: 32px;
    --unit5: 40px;
    --unit6: 48px;
    --unit7: 56px;
    --unit8: 64px;
    --unit9: 72px;
    --unit10: 80px;
    --unit11: 88px;
    --unit12: 96px;
    --unit13: 104px;
    --unit14: 112px;
    --unit15: 120px;
    --unit16: 128px;
    --unit20: 160px;
    --unit24: 192px;
    --unit30: 240px;
    --unit40: 320px;
    --unit60: 480px;
    --unit75: 600px;
    --unit120: 960px;
  }
}
