.wizard {
  // transition: height 1s ease;
  input[type="radio"] {
    position: fixed;
    left: -100px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    // transition: height 1s ease;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .question,
  .answer,
  .end {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 0fr;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
  }
  .question,
  .end {
    background-color: var(--fg2);
    background-image: linear-gradient(90deg, var(--tint4), transparent);
    border-radius: 0 var(--unit2) var(--unit2) var(--unit2);
    color: var(--bg0);
    margin-right: var(--unit8);
    transform: translate(-100vw, -25vh);
  }
  .answer {
    background-color: var(--tint2);
    background-image: linear-gradient(90deg, var(--bg1), transparent);
    border-radius: var(--unit2) var(--unit2) 0 var(--unit2);
    cursor: pointer;
    margin-left: var(--unit8);
    transform: translate(100vw, 25vh);
    &:hover {
      background-color: var(--tint3);
    }
    & > label {
      color: var(--fg0);
      cursor: inherit;
      display: block;
    }
    & > a {
      color: var(--fg0);
      display: block;
      text-decoration: none;
    }
  }
  .qa_bubble {
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 var(--unit3);
    transition: inherit;
  }
  input[type="radio"]:checked + ul > li > .question,
  input[type="radio"]:checked + ul > li > .answer,
  input[type="radio"]:checked + .end {
    grid-template-rows: 1fr;
    margin-bottom: var(--unit2);
    opacity: 1;
    transform: translate(0);
    & > .qa_bubble {
      padding: var(--unit2) var(--unit3);
    }
  }
  .qa_restart {
    background-color: var(--bg1);
    border-radius: var(--radius-all);
    color: var(--tint5);
    display: block;
    padding: var(--unit1) var(--unit2);
    margin: var(--unit4) auto;
    width: max-content;
    transition: all 0.5s ease;
    &:hover {
      background-color: var(--bg2);
      color: var(--fg0);
    }
  }
}
