/*  D E F A U L T   C O L O R S  */

:root {
  --accent: #5a3a67;
  --color1: #ffffff;
  --color2: #ffd8b7;
  --color3: #ff653a;
  --color4: #ea303c;
  --color5: #5a3a67;
  --color6: #121f26;
  --glow: #ffd8b7;
  --text: #121f26;
  --textButton: #ffffff;
  --tint1: #ffffff66;
  --tint2: #ffcc9366;
  --tint3: #ff653a66;
  --tint4: #fe574a66;
  /* Consistent colors */
  --dark: #121f26;
  --darkish: #5a3a67;
  --light: #ffffff;
  --lightish: #ffd8b7;
  /* Gradients */
  --gradNav: linear-gradient(90deg, #ffffff, #ffffffdd, #ffffff33, transparent),
    radial-gradient(circle at 26% 16%, #ffffffaa, #ffffff22, transparent 26%);
  --gradBg: linear-gradient(70deg, #ffffff 30%, #fff6d8 80%, #ffbca9 100%);
  --gradButton: linear-gradient(70deg, #ffe9a24a, #ea305266);
  --gradFooter: linear-gradient(48deg, #ffffff, #ffd8b7);
  --gradInvert: linear-gradient(70deg, #4c3459, #121f27);
  /* --gradText: -webkit-linear-gradient(90deg, #5a3a67, #121f26); */
}
.cta,
.cta_b {
  --gradBg: linear-gradient(70deg, #feeaa8, #fed29b, #ffa082, #ff3f55);
  /* --gradButton: linear-gradient(70deg, #b13b6eaa, #563760aa); */
}
.half1,
.half1_b::before {
  --gradBg: linear-gradient(50deg, #feeaa8, #ffa082);
}
.half1,
.half1_b {
  --glow: #ffd8b7;
  --heading: #4a3459;
  --text: #121f26;
  /* --gradText: -webkit-linear-gradient(70deg, #5a3a67, #121f26); */
}
.half2,
.half2_b::before {
  --gradBg: linear-gradient(50deg, #5a3a67, #121f26);
}
.half2,
.half2_b {
  --glow: #48293f;
  --heading: #ffb58d;
  --text: #ffd8b7;
  /* --gradText: -webkit-linear-gradient(70deg, #fea385, #ffd8b7); */
}
.hero,
.hero_b {
  --gradBg: linear-gradient(70deg, #fff2cc, #ef5a64);
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent: #ffd8b7;
    --color1: #121f26;
    --color2: #5a3a67;
    --color3: #ea3052;
    --color4: #fd835e;
    --color5: #ffd8b7;
    --color6: #ffffff;
    --glow: #ea303c; /* alpha was: .72 */
    --text: #ffffff;
    --textButton: #ffffff;
    --gradBg: linear-gradient(70deg, #121f26 30%, #302a3f 80%, #692938 100%);
    --gradButton: linear-gradient(70deg, #ea305266, #ffe9a24a);
    --gradFooter: linear-gradient(48deg, #121f26, #312536);
    --gradNav: linear-gradient(
        90deg,
        #121f26,
        #121f26cc,
        #121f2644,
        transparent
      ),
      radial-gradient(circle at 26% 16%, #121f26cc, #121f2644, transparent 26%);
    --gradInvert: linear-gradient(70deg, #4c3459, #121f27);
    --lightish: #ffd8b7;
    --tint1: #121f2666; /* alpha was: .4 */
    --tint2: #5a3a6766; /* alpha was: .4 */
    --tint3: #ea305266;
    --tint4: #ea305266; /* alpha was: .4 */
  }
  .cta,
  .cta_b::before {
    --gradBg: linear-gradient(70deg, #ce2c3e, #ff936e);
    /* --gradButton: linear-gradient(70deg, #fa6e86aa, #f9cea9aa); */
  }
  .half1,
  .half1_b::before {
    --gradBg: linear-gradient(50deg, #121f26, #2e283b, #5d2942);
  }
  .half1,
  .half1_b {
    --glow: #5a3a67;
    --heading: #fc9f7d;
    --text: #ffffff;
    /* --gradText: -webkit-linear-gradient(70deg, #fea385, #ffd8b7); */
  }
  .half2,
  .half2_b::before {
    --gradBg: linear-gradient(50deg, #fa7d65, #ffefb8);
  }
  .half2,
  .half2_b {
    --glow: #fea385;
    --heading: #522a41;
    --text: #121f26;
    /* --gradText: -webkit-linear-gradient(70deg, #5a3a67, #121f26); */
  }
  .hero,
  .hero_b::before {
    --gradBg: linear-gradient(70deg, #b22741, #dd7452);
  }
}
@media (hover: hover) {
  :root {
    --gradNav: linear-gradient(
        90deg,
        #ffffff,
        #ffffffdd,
        #ffffff33,
        transparent
      ),
      radial-gradient(circle at 26% 16%, #ffffff, #ffffff99, transparent 26%);
  }
}
@media (hover: hover) and (prefers-color-scheme: dark) {
  :root {
    --gradNav: linear-gradient(
        90deg,
        #121f26,
        #121f26cc,
        #121f2644,
        transparent
      ),
      radial-gradient(circle at 26% 16%, #121f26cc, #121f2644, transparent 26%);
  }
}
