.nav {
  position: fixed;
  top: 10px;
  z-index: 999;
}
.nav ul::before {
  background-image: var(--gradNav);
  content: "";
  display: block;
  height: 545px;
  left: -44px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: -54px;
  transition: all 1s cubic-bezier(0, 0, 0.15, 1);
  width: 185px;
}
.nav:is(:hover, :focus) ul::before {
  height: 1338px;
  left: -44px;
  top: -157px;
  width: 440px;
}
.nav ul {
  display: block;
  padding: 16px 8px 16px 64px;
  position: absolute;
  rotate: 22deg;
  top: -17px;
  transition: all 0.3s ease;
}
.nav ul li {
  display: flex;
}
.nav a {
  color: var(--color3);
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.5s ease;
}
.nav a.logo {
  content: ":j";
  display: block;
  font-size: 90px;
  left: 10px;
  letter-spacing: 0.3rem;
  position: absolute;
  rotate: 22deg;
  top: 16px;
  z-index: 1;
}
/* .nav .devicon {
  color: var(--color3);
  left: 84px;
  position: absolute;
  rotate: 22deg;
  top: 33px;
  width: 40px;
} */
@media (hover: hover) {
  .nav a {
    color: var(--color3);
  }
  /* .nav ul:hover li a {
    color: var(--color3);
  } */
  .nav a:not(.current-page):is(:active, :focus, :hover) {
    color: var(--accent);
  }
}
/* .nav ul li a:before {
    content: "-\\0000a0";
    left: 0px;
  } */
