:root {
  --max_text: 600px;
  --scale: 0.5;
  --unit-75: -60vw;
  --unit-60: -48vw;
  --unit-40: -32vw;
  --unit-30: -24vw;
  --unit-24: -19.2vw;
  --unit-20: -16vw;
  --unit-16: -12.8vw;
  --unit-15: -12vw;
  --unit-14: -11.2vw;
  --unit-13: -10.4vw;
  --unit-12: -9.6vw;
  --unit-11: -8.8vw;
  --unit-10: -8vw;
  --unit-9: -7.2vw;
  --unit-8: -6.4vw;
  --unit-7: -5.6vw;
  --unit-6: -4.8vw;
  --unit-5: -4vw;
  --unit-4: -3.2vw;
  --unit-3: -2.4vw;
  --unit-2: -1.6vw;
  --unit-1: -0.8vw;
  --unit1: 0.8vw;
  --unit2: 1.6vw;
  --unit3: 2.4vw;
  --unit4: 3.2vw;
  --unit5: 4vw;
  --unit6: 4.8vw;
  --unit7: 5.6vw;
  --unit8: 6.4vw;
  --unit9: 7.2vw;
  --unit10: 8vw;
  --unit11: 8.8vw;
  --unit12: 9.6vw;
  --unit13: 10.4vw;
  --unit14: 11.2vw;
  --unit15: 12vw;
  --unit16: 12.8vw;
  --unit20: 16vw;
  --unit24: 19.2vw;
  --unit30: 24vw;
  --unit40: 32vw;
  --unit60: 48vw;
  --unit75: 60vw;
  --unit120: 96vw;
}
@media (min-width: 600px) {
  :root {
    --unit-75: -570px;
    --unit-60: -480px;
    --unit-40: -240px;
    --unit-30: -180px;
    --unit-24: -144px;
    --unit-20: -120px;
    --unit-16: -96px;
    --unit-15: -90px;
    --unit-14: -84px;
    --unit-13: -78px;
    --unit-12: -72px;
    --unit-11: -66px;
    --unit-10: -60px;
    --unit-9: -54px;
    --unit-8: -48px;
    --unit-7: -42px;
    --unit-6: -36px;
    --unit-5: -30px;
    --unit-4: -24px;
    --unit-3: -18px;
    --unit-2: -12px;
    --unit-1: -6px;
    --unit1: 6px;
    --unit2: 12px;
    --unit3: 18px;
    --unit4: 24px;
    --unit5: 30px;
    --unit6: 36px;
    --unit7: 42px;
    --unit8: 48px;
    --unit9: 54px;
    --unit10: 60px;
    --unit11: 66px;
    --unit12: 72px;
    --unit13: 78px;
    --unit14: 84px;
    --unit15: 90px;
    --unit16: 96px;
    --unit20: 120px;
    --unit24: 144px;
    --unit30: 180px;
    --unit40: 240px;
    --unit60: 480px;
    --unit75: 570px;
    --unit120: 720px;
  }
}
@media (min-width: 1000px) {
  :root {
    --unit-75: -600px;
    --unit-60: -480px;
    --unit-40: -320px;
    --unit-30: -240px;
    --unit-24: -192px;
    --unit-20: -160px;
    --unit-16: -128px;
    --unit-15: -120px;
    --unit-14: -112px;
    --unit-13: -104px;
    --unit-12: -96px;
    --unit-11: -88px;
    --unit-10: -80px;
    --unit-9: -72px;
    --unit-8: -64px;
    --unit-7: -56px;
    --unit-6: -48px;
    --unit-5: -40px;
    --unit-4: -32px;
    --unit-3: -24px;
    --unit-2: -16px;
    --unit-1: -8px;
    --unit1: 8px;
    --unit2: 16px;
    --unit3: 24px;
    --unit4: 32px;
    --unit5: 40px;
    --unit6: 48px;
    --unit7: 56px;
    --unit8: 64px;
    --unit9: 72px;
    --unit10: 80px;
    --unit11: 88px;
    --unit12: 96px;
    --unit13: 104px;
    --unit14: 112px;
    --unit15: 120px;
    --unit16: 128px;
    --unit20: 160px;
    --unit24: 192px;
    --unit30: 240px;
    --unit40: 320px;
    --unit60: 480px;
    --unit75: 600px;
    --unit120: 960px;
  }
}
